.header-container {
  height: 18vh;
  padding: 0px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1.5px 0px;
}

.header-links {
  height: 100%;
  ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 12px;
    height: 100%;

    li {
      cursor: pointer;
      height: 99%;
      display: flex;
      align-items: center;
    }

    li:hover {
      border-bottom: 2px solid black;
      border-radius: 1px;
      transition: border .2s ease-in-out;
    }
  }
  img{
    display: none;
  }
}

.header-icons {
  display: flex;
  gap: 15px;

  img {
    height: 21px;
    width: 40px;
    cursor: pointer;
  }
}

.header-title h1 {
  font-size: 30px;
}

.shipping-label {
  background-color: #f7f7f7;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  color: #53524e;
  font-size: 12px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 50;
}

.shop-dropdown {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 12;

  .category {
    height: 300px;

    ul {
      margin-top: 40px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 19px;
      cursor: pointer;
    }
  }

  .sample-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

    img {
      height: 300px;
      margin: 5px;
    }
  }
}

.show {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 800px) {

  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 20px;
      width: 20px;
      display: block;
    }
    ul {
      display: none;
    }
  }

  .big-screen-icon{
    display: none;
  }
}
