div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: start;
  img {
    height: 280px;
  }

  .title {
    font-size: 25px;
    height: 100px;
    overflow: hidden;
    font-weight: 100;
  }
  .category{
    text-transform: uppercase;
    font-size: 12px;
  }

  .excerpt{
    font-size: 14px;
    height: 100px;
    overflow: hidden;
  }

}
